<div class="row">

  <% @newss.each do |@news| %>
    <div class="col-xs-6 col-md-3">
      <li>
      <%= news.title %></li>
      <li>
      <%= news.description %></li>

    </div>
  <% end %>
</div>
