<div class="row">
  <div class="col-lg-12">
    <ol class="breadcrumb">
      <li class="active">首頁</li>
    </ol>
    <%= render 'common/products' %>
  </div>
</div>





  <!-- Start of  Zendesk Widget script -->

  <head
    <script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=cb25e32e-94df-4c36-8efd-441ea2372f0b"> </script>

  </head>
  <!-- End of  Zendesk Widget script -->

</div>
